
<!--<p test-directive>
  Start editing to see some magic happen :)
</p>
<button class="btn btn-primary" routerLink="/first">first</button>
<button routerLink="/second">second</button>
<button routerLink="">Home</button>-->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">This is ChartJs example </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group mb-4">
        <li class="list-group-item" routerLinkActive="active" routerLink="plugin-chart">Plugin chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="bar-chart">Bar Chart</li>
       <li class="list-group-item" routerLinkActive="active" routerLink="doughnut-chart">Doughnut Chart</li>
         <li class="list-group-item" routerLinkActive="active" routerLink="line-chart">Line Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="mix-chart">Mix Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="multi-axis">Multi Chart</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="tree-map">Tree Map</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="tree-map2">Tree Map2</li>
        <li class="list-group-item" routerLinkActive="active" routerLink="tree-map3">Tree Map3</li>
       
      </ul>
    </div>
    <div class="col-md-9"> 
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

